<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {% extends 'layouts/nav.html' %}

  {% block content %}

  <h1>Tasks</h1>

  {% for task in tasks %}
  <div>
    <h2>{% if task.done == False %} ⏱ {% else %} ✅ {% endif %} {{ task.title }}</h2>

    {% if task.done == False %}
    <p>Tarea Pendiente</p>
    {% else %}
    <p>Tarea Realizada</p>
    {% endif %}

    <ul>
      <li>{{ task.description }}</li>
      <li>Proyecto: {{ task.project.name }}</li>
    </ul>
    <button>✅ Done</button>
  </div>
  {% endfor %}

  {% endblock %}

</body>

</html>