<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World django</title>
</head>

<body>

  {% extends 'layouts/nav.html' %}

  {% block content %}

  <h1>Hello World</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque blanditiis neque. Facilis modi, soluta iure
    sint illo omnis nulla doloremque incidunt optio quibusdam vitae explicabo nihil nesciunt. Fugit, at similique magnam
    doloremque corporis suscipit libero ab autem sed vero, dolorem doloribus molestias esse laudantium maiores facilis
    nobis culpa aliquid harum veritatis cupiditate earum voluptatibus! Deserunt fuga doloremque blanditiis a nemo fugit
    illum quidem facere enim vel corporis illo, dignissimos sunt minus! Nostrum, optio nulla tenetur, quasi accusamus
    maiores illo aliquam ipsa ex laborum dicta eaque illum iusto perspiciatis autem? Perspiciatis accusantium dolorum
    neque asperiores! Sint pariatur ullam autem reprehenderit?
  </p>

  {% endblock %}

</body>

</html>