<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django myapp</title>
</head>

<body>

  {% extends 'layouts/nav.html' %}

  {% load static %}

  {% block content %}

  <h1>Welcome to {{title}}</h1>

  <div>
    <img src="{% static 'img/Dragonite.jpg' %}" alt="">
  </div>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse modi aliquam sed. Nostrum vel asperiores
    corporis optio obcaecati ex, alias, esse sapiente aliquid rerum minima quaerat repudiandae amet nihil.
  </p>

  {% endblock %}

</body>

</html>